In [ ]:
# ------------------------------------------------------- IMPORT -------------------------------------------------------
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd
from selenium.webdriver.support import expected_conditions as EC, wait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support.ui import WebDriverWait
import requests

# ------------------------------------------------------- GLOBAL VARIABLE ------------------------------------------------
expiry_dates = []

years = []
residentials = []
commercials = []
totals = []

projects = []
transactions = []

rankings = []

names1 = []
names2 = []
names3 = []
# ------------------------------------------------------- MAIN ------------------------------------------------

# Get all the names from the csv to loop through
csv = pd.read_csv(r"C:\Users\Abdulkadir\Documents\Programming\WebScrapeTeasdale\Realty\names_list.csv")
names = csv["Name"].to_list()

if __name__ == "__main__":
    
    for name in names[2000:2050]:
        # open website
        path = r"C:\Users\Abdulkadir\Documents\Programming\chromedriver.exe"
        driver = webdriver.Chrome(path)
        driver.get('https://dubailand.gov.ae/en/eservices/licensed-real-estate-brokers/licensed-real-estate-brokers-list/#/')
        wait = WebDriverWait(driver, 10)
        driver.maximize_window()

        # get rid of pop up
        pop_up = wait.until(EC.presence_of_element_located((By.XPATH, '/html/body/div[18]/div/div[1]/a')))
        time.sleep(1)
        pop_up.click()
        
        # search box
        search_box = wait.until(EC.presence_of_element_located((By.XPATH, '/html/body/div[7]/div[3]/div/div[2]/div[1]/div/label/input')))
        time.sleep(4)
        search_box.click()
        search_box.send_keys(name)

        # click name
        e = 1
        time.sleep(2)
        brokerTrue = True
        while brokerTrue == True:
            # if card there
            try:
                try:
                    broker_card = wait.until(EC.element_to_be_clickable((By.XPATH, '//*[@id="broker"]/div/div/div/div/a')))
                    actions = ActionChains(driver)
                    actions.move_to_element(broker_card).perform()
                    broker_card.click()
                    brokerTrue = False
                except:
                    print('try again mayn')
                    e += 1
            
            # if card not there
            except:
                brokerTrue = False

        print('------------------------------------------------------------')

        # office expiry
        office_tab = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/nav/ul/li[2]/a')))
        office_tab.click()

        expiry_date = wait.until(EC.presence_of_element_located((By.XPATH, '/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/div[2]/div[2]/div[2]/p[2]/span'))).text
        print(expiry_date)
        expiry_dates.append(expiry_date)

        print('------------------------------------------------------------')

        # sales transactions
        transactions_tab = wait.until(EC.presence_of_element_located((By.XPATH, '/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/nav/ul/li[3]/a')))
        transactions_tab.click()

        a = 0
        b = 0
        y = 1

        transactionsTrue = True
        while transactionsTrue == True:
            try:
                
                year = wait.until(EC.presence_of_element_located((By.XPATH, f'/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/div[3]/div/table/tbody/tr[{y}]/td[1]'))).text
                print(year)
                years.append(year)
                
                if year == 'No Transactions Found':
                    residentials.append('N/A')
                    commercials.append('N/A')
                    totals.append('N/A')
                    names1.append(name)
                    transactionsTrue = False

                residential = wait.until(EC.presence_of_element_located((By.XPATH, f'/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/div[3]/div/table/tbody/tr[{y}]/td[2]'))).text
                print(residential)
                residentials.append(residential)

                commercial = wait.until(EC.presence_of_element_located((By.XPATH, f'/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/div[3]/div/table/tbody/tr[{y}]/td[3]'))).text
                print(commercial)
                commercials.append(commercial)

                total = wait.until(EC.presence_of_element_located((By.XPATH, f'/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/div[3]/div/table/tbody/tr[{y}]/td[4]'))).text
                print(total)
                totals.append(total)
                
                names1.append(name)

                y += 1

            except:
                year = 'No'
                y += 1

            b += 100
            driver.execute_script(f"window.scrollTo({str(a)},{str(b)})")

            if year == 'No':
                transactionsTrue = False

        print('------------------------------------------------------------')

        # projects
        projects_tab = wait.until(EC.presence_of_element_located((By.XPATH, '/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/nav/ul/li[4]/a')))
        projects_tab.click()

        a = 0
        b = 0
        y = 1

        projectsTrue = True
        while projectsTrue == True:
            try:    
                project = wait.until(EC.presence_of_element_located((By.XPATH, f'/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/div[4]/div/div/div/table/tbody/tr[{y}]/td[1]'))).text
                print(project)
                projects.append(project)

                transaction = wait.until(EC.presence_of_element_located((By.XPATH, f'/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/div[4]/div/div/div/table/tbody/tr[{y}]/td[2]'))).text
                print(transaction)
                transactions.append(transaction)
                
                names2.append(name)

                y += 1

            except:
                project = 'No'
                y += 1

            b += 100
            driver.execute_script(f"window.scrollTo({str(a)},{str(b)})")

            if project == 'No':
                names2.append(name)
                projects.append('N/A')
                transactions.append('N/A')
                projectsTrue = False

        driver.find_element_by_tag_name('body').send_keys(Keys.CONTROL + Keys.HOME)

        print('------------------------------------------------------------')

        rankings_tab = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/nav/ul/li[5]/a')))
        driver.execute_script(f"window.scrollTo({str(0)},{str(0)})")
        rankings_tab.click()

        # rankings
        ranking = wait.until(EC.presence_of_element_located((By.XPATH, '/html/body/div[7]/div[3]/div/div[3]/div[1]/div/div/div[2]/div/div[5]/div[2]/div[2]/table/tbody/tr/td[2]/span'))).text
        print(ranking)
        names3.append(name)
        rankings.append(ranking)

        print('------------------------------------------------------------')

        driver.quit()

In [29]:
print(len(names1))
print(len(years))
print(len(residentials))
print(len(commercials))
print(len(totals))

22
22
22
22
22

In [30]:
# dataframe 1
df1 = pd.DataFrame({"Name": names1, "Year": years, "Residential": residentials, "Commerical": commercials, "Total": totals})
df1

,Name,Year,Residential,Commerical,Total
0,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,2021,148,0,148
1,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,2019,3,1,4
2,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,2017,18,20,38
3,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,2016,14,10,24
4,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,2015,3,0,3
5,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,2013,1,1,2
6,ALI SOBHY ALI ABOUGHAZY,2021,1,0,1
7,ALI SOBHY ALI ABOUGHAZY,2019,1,0,1
8,ALI SOBHY ALI ABOUGHAZY,2017,11,1,12
9,ALI SOBHY ALI ABOUGHAZY,2016,10,1,11
10,ALI SOBHY ALI ABOUGHAZY,2015,4,1,5
11,ALI SOBHY ALI ABOUGHAZY,2014,5,0,5
12,ALI SOBHY ALI ABOUGHAZY,2013,11,2,13
13,ALI SOBHY ALI ABOUGHAZY,2012,1,0,1
14,RAVINDER SINGH HARBANS SINGH,No Transactions Found,N/A,N/A,N/A
15,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,2019,1,0,1
16,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,2017,4,0,4
17,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,2016,5,5,10
18,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,2015,6,0,6
19,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,2014,1,4,5
20,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,2013,2,0,2
21,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,2012,1,0,1

In [31]:
# dataframe 2
df2 = pd.DataFrame({"Name": names2, "Project": projects, "Transactions": transactions})
df2

,Name,Project,Transactions
0,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,"QASR SABAH I , II ,III",2
1,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,Direct Transactions,1
2,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,17 ICON BAY,1
3,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,Grand Bleu Tower interiors by Elie Saab,1
4,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,Greenview 2,1
5,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,HAYAT BOULEVARD,1
6,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,NOOR TOWNHOUSES,4
7,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,SAFI TOWNHOUSES,25
8,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,TOWN SQUARE HAYAT,1
9,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,TOWN SQUARE SAFI,4
10,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,TOWN SQUARE ZAHRA,7
11,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,TOWN SQUARE JENNA AND WARDA,19
12,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,LAKESIDE,1
13,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,PARK RIDGE,2
14,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,STELLA MARIS,147
15,UMAR BIN FAROOQ MOHD FAROOQ RANGREZ,N/A,N/A
16,ALI SOBHY ALI ABOUGHAZY,Direct Transactions,27
17,ALI SOBHY ALI ABOUGHAZY,CHURCHILL TOWER,1
18,ALI SOBHY ALI ABOUGHAZY,LAGO VISTA,1
19,ALI SOBHY ALI ABOUGHAZY,NEW DUBAI GATE1,1
20,ALI SOBHY ALI ABOUGHAZY,PRIME RESIDENCY2,1
21,ALI SOBHY ALI ABOUGHAZY,ROYALE RESIDENCE2,1
22,ALI SOBHY ALI ABOUGHAZY,SKY COURTS,1
23,ALI SOBHY ALI ABOUGHAZY,N/A,N/A
24,RAVINDER SINGH HARBANS SINGH,N/A,N/A
25,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,Direct Transactions,9
26,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,ACT ONE | ACT TWO,1
27,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,CLAREN 1,6
28,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,BURJ VIEWS,
29,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,DD BOULEVARD CENTRAL,1
30,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,CHURCHILL TOWER,2
31,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,PARK HEIGHTS II,1
32,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,SKY COURTS,1
33,SARFRAZ MALIK ABDUL MOIDIN SHARIFE,N/A,N/A

In [32]:
# dataframe 3
df3 = pd.DataFrame({"Name": names3, "License Expiry": expiry_dates, "Total Points": rankings})
df3

                                  Name License Expiry Total Points
0  UMAR BIN FAROOQ MOHD FAROOQ RANGREZ     27-07-2022           28
1              ALI SOBHY ALI ABOUGHAZY     09-06-2022           28
2         RAVINDER SINGH HARBANS SINGH     04-06-2022           28
3   SARFRAZ MALIK ABDUL MOIDIN SHARIFE     16-06-2022           28